body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Sans-Serif;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.days {
    font-size: 1.5em;
}

.label {
    font-size: 3em;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.success {
    background-color: #5cb85c;
    /* Green */
    color: white;
}

.failure {
    background-color: #d9534f;
    /* Red */
    color: white;
}

.progress {
    animation: pulseProgress 5s infinite;
    color: black;
}

@keyframes pulseProgress {

    0%,
    100% {
        background-color: #dddddd;
    }

    50% {
        background-color: #777777;
    }
}

.stale {
    background-color: #f3d000;
    /* Yellow */
    color: black;
}

.legend {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center;
}

.noIssues {
    background-color: #5cb85c;
    /* Green */
    color: white;
}

.issues {
    background-color: #f3d000;
    /* Yellow */
    color: white;
}
